@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue eget mauris eget ultrices. Quisque vitae
    molestie elit, in vehicula lorem. Ut faucibus arcu id congue convallis. Fusce dictum diam eu libero consequat, et
    suscipit ligula consequat. Sed orci leo, venenatis eu ipsum in, finibus bibendum nunc. Suspendisse commodo vel nulla
    et accumsan. Mauris id cursus turpis, eu feugiat massa. Ut tristique neque eget congue sodales. Nulla at justo eu
    ligula congue egestas id quis massa. Cras vitae luctus lectus. Proin nec orci sit amet est volutpat molestie. Sed
    faucibus mauris ut ullamcorper euismod. Donec porttitor vehicula est eu consequat. In sed eros rutrum orci malesuada
    condimentum vel non tellus. Pellentesque nec tortor laoreet, dictum nisi sed, hendrerit orci.<br><br>

    Vestibulum leo ex, euismod et ipsum vel, facilisis fermentum metus. Donec tristique varius maximus. Morbi gravida
    arcu bibendum, iaculis tortor ut, venenatis mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean
    suscipit ornare nunc, sed pretium nisi malesuada in. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Etiam sed rhoncus libero. Nulla eu lectus consequat, mattis leo non, mollis odio. Vivamus in eros id lectus luctus
    mattis. Quisque fermentum egestas dui, ac condimentum lectus interdum sed. Sed finibus mattis risus vel mattis. Duis
    fermentum libero vel tempor pulvinar.
</p>
